<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="container">
        <h1>TODO APP</h1>
        <form method="post" action="/addtask">
            <div class="desc-box">
                <label>Description</label><br>
                <input type="text" name="description" id="desc" placeholder="Let make your app to work">
            </div>
            <div class="water-container">

            </div>
            <div class="cat-date">
                <div id="cat">
                    <label>Category</label><br>
                    <select name="category">
                        <option>School</option>
                        <option>Office</option>
                        <option>Social</option>
                        <option>Personal</option>
                        <option>Home</option>
                        <option>Daily</option>
                    </select>
                </div>
                <div id="date">
                    <label>Due date</label><br>
                    <input type="date" name="date">
                </div>
            </div>
            <div id="btn">
                <button type="submit" id="add" class="bt">
                    <i class="fa-solid fa-plus"></i>
                    <p class="btn-text">ADD TASK</p>
                </button>
                    <div id="del" class="bt">
                        <i class="fa-solid fa-trash"></i>
                        <p class="btn-text">DELETE TASK</p>
                    </div>
            </div>
        </form>
        <div class="tasklist-container">
            <% for(let list of todos_list){ %>
            <div class="tasks-list">
                <div class="desc">
                    <div class="checkbox-desc">
                        <div id="cd">
                            <input class="checkbox" id="<%= list._id %>" type="checkbox" class="check">
                            <span><%= list.description %></span>
                        </div>
                        <div id="cal-date">
                            <p class="date"><i class="fa-solid fa-calendar-days"></i><span><%= list.due_date %></span></p>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <button class="btn-cat"><%= list.category %></button>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <script src="/home.js"></script>
</body>

</html>